
/* Sobrescribiendo las hojas de estilo de Bootstrap */
/* Menu */
#Menu img{
   width: 200px;
}

#Menu {
    background: #009929 !important;
    align-content: flex-end;
}

#Menu a{
    color: black;
}
#Menu a:hover{
    color: #5CCB5F;
}

/* Portada */
#Portada img{
    max-height: 70vh;
    max-height: 80vh;
}

/* footer-Pie de pagina */
#Pie{
    background: #009929 !important;
    color: black;
}

#Derecho{
    text-align: center;
    color: white;
}


